html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    color: #e4e4e7;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}
  

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100%;
}

.sidebar{
    background-color: #09090b;
    grid-column: 1 / 2;
    padding: 20px;
    color: #e4e4e7;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.tabs{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabs div:first-child{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2px;
}

.tab{
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #09090b;
    border: 0px;
    width: 85%;
    color: #e4e4e7;
    border-radius: 10px;
    gap: 2px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.tab:hover, .project-div:hover{
    transform: scale(1.02);
}

.tab > img{
    margin-right: 5px;
    height: 20px;
}

.tab:hover{
    background-color: #37373d;  
}

.logo{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    justify-content: space-evenly;
    margin-right: 40px;
    align-items: center;
    font-family: "DM Serif Text", serif;
}

.projects {
    margin-bottom: 350px;
    width: 100%;
}

.projects h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.project-div {
    background-color: #09090b;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    gap: 10px; 
    transition: background-color 0.2s ease-in-out;
}

.project-button {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    width: 85%;
    color: #e4e4e7;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.p-img {
    height: 20px;
}

.delete-button {
    height: 20px;
    width: 20px;
    background: url('../assets/delete.svg') no-repeat center / cover;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.project-div:hover,
.project-button:hover,
.delete-button:hover {
    background-color: #37373d;
}


#add-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    height: 30px;
    width: 85%;
    color: #e4e4e7;
    background-color: #09090b;
    transition: background-color 0.2s ease-in-out;
}

#add-button:hover{
    background-color: #37373d;  
    transform: scale(1.02);
}

#content{
    background-color: #18181b;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 15px;
    padding-left: 300px;
    padding-right: 300px;
}

#tasks-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 75px;
}

#tasks-header > hr{
    width: 80%;
}

#tasks-list{
    padding: 10px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

.task{
    background-color: #0a0a0a;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}

.task button{
    background-color: #0a0a0a;
    border: 1px solid black;
    border-radius: 20px;
}

#check{
    height: 20px;
    width: 20px;
}

.task:hover{
    background-color: #37373d;
    transform: scale(1.01);
    transition: background-color 0.2s ease-in-out;
}

.priority{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 20px;
}

.task-left, .task-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.edit-button > img, .task-delete-button > img{
    height: 30px;
    cursor: pointer;
}

.edit-button{
    background-image: url('../assets/pencil-svgrepo-com.svg');
}


#tasks-count{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#tasks-left-div, #new-task-div{
    height: 80%;
    background-color: #09090b;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
}

#tasks-left-div:hover, #new-task-div:hover{
    transform: scale(1.02);
}


#new-task{
    height: 150x;
    background-color: #09090b;
    border: 0px;
    background-image: url('../assets/add-plus-svgrepo-com.svg');
    cursor: pointer;
}